/* CSS Document  Download by http://www.codefans.net*/
body{font-family:"ו", Arial,Verdana, sans-serif, Helvetica;font-size:12px;margin:0;background:#f4f5eb;color:#000;}
dl,ul,li{list-style:none;}
a img{border:0;}
a{color:#000;}
a:link,a:visited,a:active,a:hover{text-decoration:none;}
.clearboth {clear:both;font-size:0px;}
input {vertical-align:middle;}
body,html{height:100%;}
.noneBox {display:none;}
/*----left---------------------------*/
.left{float:left;width:214px;height:auto;margin:8px 0 8px 2px!important;margin:8px 0 4px 4px;}
.lefter{float:left;margin:0 0 0 0px;width:4px;height:100%;background:url(../images/b_center_03.gif);}
.left01{width:214px;height:33px;background:url(../images/nav_left01_bei.gif) repeat-x;margin-bottom:8px;}
.left01_left{float:left;height:33px;width:3px;background:url(../images/nav_left01_left.gif);}
.left01_right{float:right;height:33px;width:3px;background:url(../images/nav_left01_right.gif);}
.left01_c{float:left;height:33px;line-height:33px;width:198px;padding-left:10px;color:#002f76;}
.left01_c img{height:17px;width:17px;margin:3px 10px 0 0;}
.left02{width:214px;height:auto;margin-bottom:8px;}
.left02top{width:214px;height:36px;background:url(../images/nav_left02_bei.gif) repeat-x;}
.left02top_left{float:left;height:36px;width:3px;background:url(../images/nav_left02_left.gif);}
.left02top_right{float:right;height:36px;width:3px;background:url(../images/nav_left02_right.gif);}
.left02top_c{float:left;height:36px;line-height:33px;width:198px;padding-left:10px;font-weight:bold;}
.left02down{width:212px;height:auto;border:1px solid #b4b4b4;border-top:0;background:#fff;}
.left02down01{width:202px;height:27px;line-height:27px;padding-left:10px;}
.left02down01_img{float:left;width:7px;height:27px;margin-right:5px;background:url(../images/nav_01.gif) no-repeat;}
.left02down01_xia ul{margin:0;padding:0 5px 0 19px;}
.left02down01_xia img{margin:3px 2px;}
.left02down01_xia li{width:auto;height:20px;line-height:20px;margin:3px 0;padding-left:2px;}
.left02down01_xia li a{color:#2179fd;}
.left02down01_xia li a:hover{background:#efe6ef;} 
.left03_right{float:right;height:33px;width:30px;background:url(../images/nav_03.gif);}
.left03_c{float:left;height:33px;line-height:33px;width:171px;padding-left:10px;color:#002f76;}